.team-logo-area img{
    width: auto;
    height: 300px;
    padding-top: 100px;
}

.team-logo-area{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Estadio_Santiago_Bernab%C3%A9u_%2801%29.jpg/1000px-Estadio_Santiago_Bernab%C3%A9u_%2801%29.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.team-info{
    background-color: darkblue;
    color: white;
    margin: 0 50px;
    border-radius: 10px;
}

.team-info-left{
    float: left;
    text-align: justify;
    padding-top: 15%;
}

.team-info h3{
    font-weight: 900;
}

.team-details{
    float: left;
    background-color: black;
    color: white;
    padding: 50px;
}

.team-info-img img{
    height: 300px;
    width: 100%;
    padding: 10px;
}

.team-description{
    padding: 0 50px;
    padding-top: 50px;
    text-align: justify;
}
.social-icon a{
    font-size: 35px;
    padding: 10px;
}